.layout {
  display: grid;
  gap: 1em;
  grid-template-rows: auto 1fr;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  max-width: 1024px;
  grid-template-areas:
    "header"
    "main";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

@media (min-width: 40em) {
  .layout {
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header "
      "main";
  }
}
