.wikiDetails {
  margin: 5px;
}
.wikiDetails img {
  max-width: 100%;
}

.wikiDetails a {
  text-decoration: none;
}

.wikiDetails button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.wikiName {
  font-size: 24px;
  font-weight: 700;
}

.wikiDetails p {
  font-size: 20px;
}
