.main {
  display: grid;
  gap: 1em;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "hero"
    "aside"
    "content"
    "footer";
}

section {
  grid-area: hero;
}
aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.content {
  grid-area: content;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

@media (min-width: 40em) {
  .main {
    grid-template-columns: 15em 1fr;
    grid-template-areas:
      "hero hero "
      "aside content"
      "aside footer";
  }
}

.main h1 {
  font-size: 38px;
  font-weight: 600;
  margin: 10px 0 10px 0;
}

.main h3 {
  font-weight: 500;
}

.main span {
  color: var(--bs-blue);
}

.main select {
  margin: 10px 0 10px 0;
}

/* 
Characters
*/

.heroSub input {
  margin-right: 10px;
}

.heroSub button {
  padding: 10px 15px 10px 15px;
}

.filterBy {
  padding: 5px 0 5px 0;
}
